# server/.env.example
PORT=3000
ENV=development

SUPABASE_URL=https://ibyhjwrhaehhmznyadz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-from-supabase-dashboard
SUPABASE_JWT_SECRET=B464uOxF6dHOULtInuKn7fgR0LIIdd33E217CzOq8kN7xboCbpA4Wz50rVX70EVLz2XK5PLEqB2YIOOfBnwscg==

# Add later:
# REDIS_URL=redis://...
# JWT_SECRET=...
